<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="/static/css/default.css" type="text/css" media="screen">
  <title>Send message</title>
  <script type="text/javascript" 
    src="/static/js/jquery-1.7.1.min.js">
  </script>
  <script type="text/javascript">
  /*<![CDATA[*/
  jQuery(function() {
      var form = jQuery("#sndsmsform");
      form.submit(function(e) {
          jQuery("#sendbutton").attr('disabled', true)
          jQuery("#sendwrapper").prepend('<span>Invio messagio, attendere prego... </span>')
          jQuery("#ajaxwrapper").load(
              form.attr('action') + ' #ajaxwrapper',
              form.serializeArray(),
              function(responseText,responseStatus) {
                  jQuery("#sendbutton").attr('disabled',false)
              }
          );
          e.preventDefault(); 
      });
  });
  /*]]>*/
  </script>
</head>
<body>
  <h1>Send message</h1>
  <form action="SendMessage" method="post" id="sndsmsform">
    <div id="ajaxwrapper">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.as_p }}
    <p id="sendwrapper"><input type="submit" value="Send" id="sendbutton"/></p>
    </div>
  </form>
</body>
</html>
